body {
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

.navbar-custom {
font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
color:white;
text-align:center;
margin:0;
background-color:black;
border:none;
}

.navbar-default .navbar-nav>li>a {
	color:white;
	font-size:15px;
	font-weight:400;
}

.navbar-default .navbar-nav>li>a:focus{
	color:#ff6600;
	font-weight:700;
}
.navbar-default .navbar-nav>li>a:hover {
	color:#ff6600;
	font-weight:700;
}

header {
	position:relative;
	width:100%;
	min-height:auto;
	text-align:center;
	background-image:url(image/main-bg.jpg);
	background-position:center;
	background-size:cover;
	display:block;
	overflow:hidden;
}

header .header-filler {
position:relative;
width:100%;
padding:100px 15px;
text-align:center;
}


.header-filler h1{
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size:6em;
	font-weight: 700;
	color:white;

}

.header-filler p {
	font-size:20px;
	color:white;
}


.btn-main {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size:22px;
	background-color:#ff6600;
	border-color:#C63D0f;
	margin:50px;
	padding:15px;
	border-radius: 30px;
	width:250px;
}
.btn-main:hover {
	color:#3b3738;
	background-color:white;
	border-color:#3b3738;
}


.outer-portrait {
	width:300px;
	height:300px;
	margin:0 auto;
}


.portrait-container {
	width: 300px;
	height: 300px;
	border:2px solid white;
	background-color:white;
	border-radius:50%;
	margin-top:50px;
	margin-bottom:30px;
	background-image:url(image/profile-pic.jpg);
	
}
#skills-section>div{
	padding:0;
	margin:0;
}

#skills-section .no-gutter {
	margin:0;
	padding:0;
}

.skills-1 {
	height:45em;
	width:100%;
	background-color:#ff6600;
	text-align:center;
	color:white;
}

.skills-2 {
	height:45em;
	width:100%;
	background-color:black;
	text-align:center;
	color:white;
}

.skills-1>h1, .skills-2>h1 {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	padding-top:50px;
	font-size:80px;
	font-weight:550;
}

.skills-2>h2, .skills-1>h2, .form-inner>h2 {
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
	padding-top:30px;
	font-size:20px;
	font-weight:350;
	line-height: 150%;
}

.btn-skills-1 {
	width:120px;
	margin-top:40px;
	color:#ff6600;
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	border:none;
	background-color:white;
	border-radius:20px;

}

.btn-skills-1:hover {
	color:white;
	background-color:#ff6600;
	border:1px solid white;
}

.btn-skills-2 {
	width:120px;
	margin-top:40px;
	color:black;
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	border:none;
	background-color:white;
	border-radius:20px;
}
.btn-skills-2:hover {
	border:1px solid white;
	color:white;
	background-color:black;
}

#resume {
	margin-bottom: 50px;
}

.resume-inner {
	text-align:center;
	color:black;
}

.resume-inner>h1 {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	padding-top:80px;
	font-size:100px;
	font-weight:450;

}

.resume-arrow {
	font-size:80px;
	padding-top:50px;
	padding-bottom:50px;
}
.resume-btn-container{
	height:150px;
	width:400px;
	display:block;
	margin:0 auto;
}
.btn-resume {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size:60px;
	height:120px;
	width:400px;
	border-radius:10px;
	border:3px solid #3b3738;
	margin-bottom: 350px;
}

.btn-resume:hover{
	background-color:black;
	color:white;
	border-color:white;
}

#about{
	margin-top:35px;
	margin-bottom:20px;
	height:100%;
}

.about-inner h1{
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size:50px;
}

.about-inner p {
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
	font-size:20px;
	line-height:150%;
}

.icon-holder {
	height:100%;
	text-align:center;
	padding:30px;
}

.icon-holder>i {
	font-size:150px;
}

.hr-gradient {
	border:none;
	height:1px;
	background-color:black;
	width:100px;
}

#footer {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	background-color:black;
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	overflow:hidden;
}


.contact-icon-container{
	margin: 0 auto;
	height:100%;
	list-style-type:none;
}

.contact-icon-container>ul {
	list-style-type:none;
	text-align:center;
	padding:0;
	margin:0;
}

.hr-footer{
	width:3%;
	color:white;
	margin-top:2.5em;
}
.footer-list-item {
	margin:1em 0em 5em 0em;
	display:inline-block;
}

.footer-list-item>a{
	text-decoration:none;
}

.footer-header {
	font-size:50px;
	font-weight:300;
	color:white;
	text-align:center;
	margin-top:1em;
}

.btn-footer-list-item {
	background-color:black;
	width:140px;
	height:40px;
	border-style:solid;
	border-width: 0px 0px 0px 0px;
	font-size:30px;
	color:white;
	padding:0;
	margin:0;
	box-shadow:none;
}

.btn-footer-list-item:hover{
	color:black;
	background-color:white;
}

.btn-footer-list-item:focus{
	color:black;
	background-color:white;
	text-decoration:none;
}


.btn-footer-list-item:active{
	color:white;
	background-color:#ff6600;
	border:none;
}

/*

.form-container {
	width:100%;
	margin:0 auto;
	border:2px solid red;
}

.form-inner {
position:relative;
}

.form-field {
	margin:15px;
	width:90%;
	padding:20px;
	border: 2px solid black;
	border-radius:5px;
	resize:none;
}



.form-container, .contact-icon{
	margin: 0 auto;
}

.contact-icon {
	margin-top:15px;
	border:2px solid green;
	height:100%;
	width:100%;
}

.icon-list {
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size:50px;
	list-style:none;
	color:white;
}

.icon-text {
	font-size: 25px;
}

*/
/*media sizes*/

@media (max-width:768px)
{
	header .header-filler {
		padding-top:40px;
	}

	.btn-main {
		margin: 15px;
	}
	.btn1 {
		margin-top:0px;
	}

	#about {
		margin-top:0px;
		margin-bottom:0px;
	}
	
}

@media (max-width: 992px)
{
	.icon-list {
		text-align:center;
	}
	/*
	.contact-icon ul>li {
		display:inline;
	}
	*/
}

@media (min-width: 1200px) {
	header .header-filler {
		padding-top:140px;
		padding-bottom:140px;
	}
}

@media (min-width: 1400px){
	.skills-1 {
	height:800px;
	width:600px;
	background-color:#ff6600;
	border-bottom:3px solid white;
	border-top:3px solid white;
	float:right;
	}

	.skills-2 {
	height:800px;
	width:600px;
	background-color:black;
	border-left:3px solid white;
	border-bottom:3px solid white;
	border-top:3px solid white;
	float:left;
	}

}